*.class
*.idea
*.iml

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Intern/PartOne/PartOne.iml
/Job4j.iml
/Intern/Part_1_Syntax/Part_1_Syntax.iml
/Intern/PartTwoTracker/tracker.iml
/Intern/PartTwoTracker/PartTwoTracker.iml
/Intern/Intern.iml
/Pre-middle/Hibernate/Hibernate.iml
/Pre-middle/Part_2_Hibernate/car_sale/car_sale.iml
/Pre-middle/Part_2_Hibernate/todo_list/todo_list.iml
/Pre-middle/Part_2_Hibernate/Part_2_Hibernate.iml
