<web-app>
    <servlet>
        <servlet-name>EchoServlet</servlet-name>
        <servlet-class>ru.aserdyuchenko.createWebProject.EchoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EchoServlet</servlet-name>
        <url-pattern>/echo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UsersServlet</servlet-name>
        <servlet-class>ru.aserdyuchenko.crudServlet.UsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/echoUser</url-pattern>
    </servlet-mapping>

    <!--    Home page for user's servlet.    -->
    <servlet>
        <servlet-name>ServletHome</servlet-name>
        <servlet-class>ru.aserdyuchenko.servlet.ServletHome</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletHome</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <!--    Servlet for add new user.    -->
    <servlet>
        <servlet-name>ServletAddUser</servlet-name>
        <servlet-class>ru.aserdyuchenko.servlet.ServletAddUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAddUser</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>

    <!--    Servlet for edit user.    -->
    <servlet>
        <servlet-name>ServletEditUser</servlet-name>
        <servlet-class>ru.aserdyuchenko.servlet.ServletEditUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletEditUser</servlet-name>
        <url-pattern>/editUser</url-pattern>
    </servlet-mapping>

    <!--    Servlet for delete user.    -->
    <servlet>
        <servlet-name>ServletDeleteUser</servlet-name>
        <servlet-class>ru.aserdyuchenko.servlet.ServletDeleteUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletDeleteUser</servlet-name>
        <url-pattern>/deleteUser</url-pattern>
    </servlet-mapping>

    <!--    Servlet for get user.    -->
    <servlet>
        <servlet-name>ServletGetUser</servlet-name>
        <servlet-class>ru.aserdyuchenko.servlet.ServletGetUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletGetUser</servlet-name>
        <url-pattern>/getUser</url-pattern>
    </servlet-mapping>

    <!--    User's authentication.    -->
    <servlet>
        <servlet-name>Signin</servlet-name>
        <servlet-class>ru.aserdyuchenko.servlet.SigninController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Signin</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>

    <!--    Filter.    -->
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>ru.aserdyuchenko.servlet.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <!--    JSON.    -->
    <servlet>
        <servlet-name>JsonController</servlet-name>
        <servlet-class>ru.aserdyuchenko.servlet.JsonController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JsonController</servlet-name>
        <url-pattern>/json</url-pattern>
    </servlet-mapping>
</web-app>
